.App {
  color: #1b5e80;
  background-color: #f2f3f5;
  font-family:sans-serif;
  /* font-weight: 500; */
}

.food-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}